/Json_files/output_aussierules_afl.json
/Json_files/output_baseball_mlb.json
/Json_files/output_basketball_nba.json
/Json_files/output_basketball_ncaab.json
/Json_files/output_boxing_boxing.json
/Json_files/output_cricket_international_t20.json
/Json_files/output_cricket_ipl.json
/Json_files/output_mma_mixed_martial_arts.json
/Json_files/output_rugbyleague_nrl.json
/dumps/2way-dump-aussierules_afl-h2h.txt
/dumps/2way-dump-baseball_mlb-h2h.txt
/dumps/2way-dump-basketball_nba-h2h.txt
/dumps/2way-dump-basketball_ncaab-h2h.txt
/dumps/2way-dump-boxing_boxing-h2h.txt
/dumps/2way-dump-cricket_international_t20-h2h.txt
/dumps/2way-dump-cricket_ipl-h2h.txt
/dumps/2way-dump-mma_mixed_martial_arts-h2h.txt
/dumps/2way-dump-rugbyleague_nrl-h2h.txt
/dumps/my-bookies-2way-dump-h2h.txt
/found/2-way-arbitrage.txt
/found/2-way-arbitrage-my-bookies.txt
/base.txt
